@import '../../styles/sizes.scss';
@import '../../styles/palette.scss';

.game-clock {
  align-self: flex-end;
  width: 120px;
  height: $buttonHeight;

  display: flex;
  align-items: center;
  gap: 2px;
}
