.game-clock {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 40px;
  padding: 5px;
  background-color: black;

  display: flex;
  align-items: center;
  gap: 2px;

  .icon {
    width: 30px;
    height: 30px;
    padding: 1px;
    cursor: pointer;

    &.active,
    &:hover {
      padding: 0px;
      border: 1px solid white;
      border-radius: 3px;
    }
  }

  .clock {
    padding: 3px;
    position: relative;
    color: white;
    cursor: pointer;

    &.active,
    &:hover {
      padding: 2px;
      border: 1px solid white;
      border-radius: 3px;
    }
  }
}
