@import '../../../styles/sizes.scss';

.vehicle-panel {
  position: absolute;
  top: $topNavbarHeight;
  left: 0px;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  pointer-events: all;

  display: flex;
  gap: 5px;

  .button {
    padding: 1px;
    cursor: pointer;

    &.active,
    &:hover {
      padding: 0px;
      border: 1px solid white;
      border-radius: 3px;
    }
  }
}
