@import '../../../styles/sizes.scss';

.vehicle-panel {
  position: absolute;
  top: $topNavbarHeight;
  left: 0px;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  pointer-events: all;
  border: 1px solid white;
  border-radius: 5px;

  display: flex;
  gap: 5px;
}
