@import '../../styles/sizes.scss';

.top-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $topNavbarHeight;
  padding: 5px;

  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
